/* colection */

.col_cont {
  width: 100%;
  display: flex;
}

.col__left {
  width: 40%;
  /* background-image: url('/img/colection/col1.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

  transition: 1s;
}

.col__right {
  /* display: flex; */
  width: 60%;
  height: 100vh;
  position: relative;

}

/* <!-- Demo styles --> */


/* body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  max-width: 356px;
  width: 100%;
  /* margin: auto; */
  margin-top: 25vh;

  border: 2px solid white;
  text-align: center;
  padding: 40px;
}

.swiper-slide {

  justify-content: flex-start;
  text-align: center;
  font-size: 18px;
  padding: 0 !important;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #000;
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
}

.swiper-pagination-bullet-active {
  color: rgb(0, 0, 0);
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .col_cont {
    margin-top: 100px;

  }

  .col__left {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

  .col__right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .card p {
    font-size: 16px;
    margin-top: 5px;
  }

  .swiper {
    max-width: 306px;
    width: 100%;
    /* height: 55vh; */
    /* max-height: 496px; */
    margin: 0 auto;

    margin: 0 auto 20px auto;
    padding: 20px;
    padding-bottom: 40px;
  }


}

@media screen and (max-width: 480px) {
  .col__right {
    padding: 0 10px;
  }

  .swiper {
    width: 70vw;
    /* height: 40vh; */

  }

  .card p {
    font-size: 14px;
  }
}

/* card */
.card {
  /* max-width: 450px; */
  margin: 0 auto;

  /* border: 2px solid white;
  text-align: center; */
}

.card p {
  text-align: start;
}

.card__img {
  height: 300px;
  background-image: url(/img/colection/col1.1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img__price {}

.card__price {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.card__price__left {
  margin: 0;
  text-align: center;
}

.card__price__left p:first-child {
  display: flex;
  justify-content: center;
}

.price__bg {
  padding: 0 5px;
  display: flex;
  justify-content: center;
  background-color: #6B6B6B;

  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.price__bg span {
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .card__price {
      margin: 10px 0;
  }

  /* .card__img {
      height: 186px;
  } */
}

/* @media screen and (max-width: 480px) {

  .card__img {
      height: 166px;
  }
}

@media screen and (max-width: 370px) {
  .card__img {
      height: 140px;
  }
} */



/* card end */




/* revies START */

/* revies END */







